@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none !important; }
#nav-bar{position: fixed !important;bottom: 0px;width:100vw;}
#nav-bar-customization-target{width: calc(100vw - 30px)}
#nav-bar[overflowing] > #nav-bar-customization-target{width: calc(100vw - 60px)}
#content-deck{margin-bottom: 32px;}
#PanelUI-button,#nav-bar-overflow-button{transform: translateY(2px)}
#PanelUI-button{float:right}

/* URL bar on bottom */

:root:not([inFullscreen]){
  --uc-bottom-toolbar-height: calc(39px + var(--toolbarbutton-outer-padding) )
}

:root[uidensity="compact"]:not([inFullscreen]){
  --uc-bottom-toolbar-height: calc(32px + var(--toolbarbutton-outer-padding) )
}

#browser,
#customization-container{ margin-bottom: var(--uc-bottom-toolbar-height,0px) }

#urlbar:not([focused]) .urlbar-input-box {
    text-align: right;
}

#nav-bar{
  height: 17px !important;
	min-height: 17px !important;
	margin-top: 0 !important;
	margin-right: 0px !important;

  position: fixed !important;
  bottom: 0px;
  text-align: center;
  display: -webkit-box;
  width: 100%;
  z-index: 1;
}

#nav-bar-customization-target { 
  -webkit-box-flex: 1;
	margin-top: -2px !important;
	margin-bottom: -2px !important;
	text-align: center;
}

/* Fix panels sizing */
.panel-viewstack{ max-height: unset !important; }

#urlbar[breakout][breakout-extend]{
  display: flex !important;
  flex-direction: column-reverse;
  bottom: -2px !important;
  top: auto !important;
}

.urlbarView-body-inner{ border-top-style: none !important; }

/* Move Find Bar above the page*/
.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
}

/* Everything on bottom */
/*#browser {
	-moz-box-ordinal-group: 0 !important;
	padding-top: 1px;
}*/

#TabsToolbar, .tabbrowser-tab {
  max-height: 24px !important;
  font-size: 11px;
}

#titlebar {
  --tab-min-height: 20px !important;
  --proton-tab-block-margin: 0px !important;
}

:root:not([customizing]) #TabsToolbar{
  background-color: #000000;
}

:root:not([customizing]) #navigator-toolbox {
  background-color: #000000 !important;
}

/* Hide window controls on fullscreen */
#window-controls { display: none; }

/* Change color of normal tabs */
tab:not([selected="true"]) { 
/*  background-color: #222222 !important; */
  background-color: #101010 !important; 
  color: #888888 !important;
  border: none;
}

/* tab font */
tab { font-family: 'xos4 Terminus', monospace; border: none; }

/* safari style tab width */  
.tabbrowser-tab[fadein]{ max-width: 100vw !important; border: none }

/* debloat navbar */

  #back-button { display: none; }

  #forward-button { display: none; }

  #reload-button { display: none; }

  #stop-button { display: none; }

  #home-button { display: none; }

  #downloads-button { display: none; }

  #library-button { display: none; }

  #sidebar-button { display: none; }

  /* Firefox account button */
  #fxa-toolbar-menu-button { display: none; }

  #nav-bar-overflow-button { display: none !important; }

  /* General Firefox menu button */
  #PanelUI-button { display: none; }

  /* Empty space before and after the url bar */
  #customizableui-special-spring1,
  #customizableui-special-spring2 { display: none; }
  /* style navbar */
  #nav-bar,
  #navigator-toolbox {
    border-width: 0 !important;
  }

/* end debloat navbar */

/* style urlbar */
  #urlbar-container {
    --urlbar-container-height: var(--tab-min-height) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-family: 'xos4 Terminus', monospace;
    font-size: 11px;
  }

  #urlbar {

/*  --urlbar-height: var(--tab-min-height) !important;
    --urlbar-toolbar-height: var(--tab-min-height) !important;
    min-height: var(--tab-min-height) !important;
*/

    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 0 0 0 !important;
    padding: 0 -5px 1px 5px !important;
    height: 17px !important;
    min-height: 17px !important;
    background: #252525 !important; 
    color: #cccccc !important;
    font-family: "xos4 Terminus" !important;
    font-size: 11px !important;
}

  #urlbar-background {
    background: #101010 !important;
    border-width: 0 !important;
    border-radius: 0 !important;
  }

  #urlbar-input-container {
    border-width: 0 !important;
    margin-left: 1em !important;
  }

  #urlbar-input {
    margin-left: 0.4em !important;
    margin-right: 0.4em !important;
  }

  .urlbarView-row {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: var(--urlbar-height) !important;
  }

  .urlbarView-row-inner {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
    height: var(--urlbar-height) !important;
  }

  .urlbarView-favicon {
    height: 1em !important;
    width: 1em !important;
    margin-bottom: 0.2em !important;
  }
  
/* debloat urlbar */
  #tracking-protection-icon-container { display: none; }

  #identity-box { display: none; }

  #reader-mode-button { display: none; }

  #pageActionButton { display: none; }

  #pocket-button { display: none; }

  #star-button { display: none; }

  #urlbar-zoom-button { display: none; }

  /* Go to arrow button at the end of the urlbar when searching */
  #urlbar-go-button { display: none; }

  /* Bottom left page loading status or url preview */
  #statuspanel { display: none !important; }
/* end debloat urlbar */


/* hide tab bar if only one tab open */
tab:only-of-type { display: none; }

/* remove min-height from tabs toolbar (needed for fullscreen one tab) */
#TabsToolbar, #tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox {
  min-height: 0 !important; 
}

/* Tab: selected colors */

#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content { 
  background: #689d68 !important;
  color: #1d2021 !important;
  border: none !important;
}

/* Tab: hovered colors */

#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
  background: #285577 !important; 
  color: #ffffff !important;
}

/* remove white margin around active tabs */
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[beforeselected-visible]::after, #tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  border: none !important;
}

/*AGENT_SHEET*/
#main-window #navigator-toolbox #TabsToolbar:not(:-moz-lwtheme){
  background: #285577 !important; 
}

/* hide favicons */
.tabbrowser-tab .tab-icon-image {
  display: none !important;
}

/* show favicon if tab is pinned */
.tabbrowser-tab[pinned] .tab-icon-image {
  display: inline !important;
}

/* hide window controls */
.titlebar-buttonbox-container { display: none; }

